html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
    width: 1160px;
    position: relative;
}

a {
    text-decoration: none;
}

.navigation {
    display: flex;
    padding-bottom: 15px;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #666666;
}

.site-navigation li:nth-child(1) {
    font-size: 42px;
    width: 50%;
}

.site-navigation li {
    box-sizing: border-box;
    padding-bottom: 20px;
}

.header {
    padding: 49px 0 0;
    background-color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.header-index {
    padding: 75px 0 0;
}

.slider {
    display: flex;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: #eee;
}

.slider img {
    height: 310px;
    width: auto;
    margin: 0 auto;
    animation: opacity 0.7s;
}

.back-slider {
    background: #eee;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.buttons {
    display: flex;
    margin: 0 auto;
    padding-top: 35px;
    justify-content: center;
}

.buttons input {
    background: transparent;
    border: 1px solid #000000;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

.buttons input:disabled {
    cursor: auto;
}

.buttons input:hover:enabled {
    background-color: #000000;
    color: #ffffff;
}

.buttons input:active {
    background-color: #666666;
    color: #eee;
}

.container-canvas {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.container-canvas canvas {
    width: 93% !important;
    height: auto !important;
    margin: 40px auto 0 auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 49px 0 40px 0;
    background-color: #eee;
    border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer p {
    font-weight: bold;
    margin: 0;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.developer {
    padding-right: 105px;
}

.support {
    padding-right: 430px;
}

.git {
    padding-right: 15px;
    margin-top: 4px;
}

.git:hover svg {
    fill: #682b70;
}

.git:active svg {
    fill: #3e1a42;
}

.date {
    padding-left: auto;
}

.fixed-block {
    position: fixed;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 7px 25px 8px 25px;
    border-radius: 50px;
    background-color: #3c001e;
    color: #ffffff;
    opacity: 0.9;
}

.fixed-block:hover {
    cursor: pointer;
    opacity: 1;
}

.bl-1 {
    left: 180px;
}

.bl-2 {
    right: 180px;
}

.counter, .common_label {
    padding-right: 10px;
}

.info-table {
    padding-top: 20px;
    padding-bottom: 50px;
}

.info-table h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 20px;
}
