<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Receiver</title>
    <style rel='stylesheet' href='Styles/style.css'></style>
</head>

<body>
    <div id="counter"></div>
    <div id="connection_status"></div>
    <div>
        <input type="button" value="Открыть web socket соединение к БПЛА." id="connect_to_vehicle">
        <input type="button" value="Закрыть web socket соединение к БПЛА." id="close_connection" />
    </div>
    <div id="chartContainer">

    </div>
    <script src="scripts/script.js" type="module"></script>
</body>

</html>