<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Receiver</title>
    <style rel='stylesheet' href='style.css'></style>
</head>

<body>
    <div id="counter"></div>
    <div id="connection_status"></div>
    <div>
        <input type="button" value="Open connect to web socket." id="connect_to_server">
        <input type="button" value="Close connection to the web socket." id="close_connection" />
    </div>
    <div id="chartContainer">

    </div>
    <script src="script.js" type="module"></script>
</body>

</html>