<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Receiver</title>
  <link rel='stylesheet' href='Styles/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header header-index"></header>
  <main>
    <div class="fixed-block bl-1">
      <div class="counter" id="counter"></div>
      <div class="connection_status" id="connection_status"></div>
    </div>
    <div class="buttons">
      <input type="button" value="Открыть web socket соединение к БПЛА." id="connect_to_vehicle">
      <input type="button" value="Закрыть web socket соединение к БПЛА." id="close_connection" />
      <input type="button" id="clearTable" value="Очистить таблицу значений в Базе данных" />
    </div>
    <div class="fixed-block bl-2">
      <label class="common_label">Общее состояние БПЛА</label>
      <div id="common_state">-</div>
    </div>
    <div id="chartContainer" class="container-canvas"></div>
  </main>
  <script src="scripts/script.js" type="module"></script>
  <footer class="footer"></footer>
</body>


</html>