<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Receiver</title>
    <link rel='stylesheet' href='Styles/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">

    </header>
    <main>
        <button id="clearTable">Очистить таблицу значений в Базе данных</button>
        <div id="chartContainer"></div>
    </main>
    <script type="module" src="scripts/MetricValues.js"></script>
    <footer class="footer"></footer>
    
</body>
</html>