<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Состояния</title>
    <link rel="stylesheet" href="Styles/kendo.default-v2.min.css" type="text/css" />
    <link rel="stylesheet" href="Styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">

    </header>
    <main>
        <div class="container info-table">
            <h1>Состояния</h1>
            <div id="grid"></div>
        </div>
    </main>
    <script src="./scripts/StatesGrid.js" type="module"></script>
    <footer class="footer"></footer>
</body>

</html>